<p>
  <b>Url:</b>
  <%=h @map_datum.url %>
</p>

<p>
  <b>Question:</b>
  <%=h @map_datum.question_id %>
</p>


<%= link_to 'Edit', edit_map_datum_path(@map_datum) %> |
<%= link_to 'Back', map_data_path %>