<p>
<label>Title</label><br>
	<%= @map_layer.name %>
</p>

<% unless @map_layer.abstract.blank?%>
<p>
<label>Abstract</label><br>
	<%= @map_layer.abstract %>
</p>
<% end -%>

<p>
<label>Supported projections</label><br>
	<% @map_layer.map_projections.each do |p| %>
		<%= p.crs %><br />
	<% end -%>
</p>
