				<div style="position:relative;">
					<%= link_to image_tag(theme.image.url(:span7), :class => "main_image"), theme %>
					<div class="transparent_black">
						<h2 class="cufon" style="color:#fff; margin:0;padding:0;"><%= link_to theme.title, theme %></h2>
					</div>						
				</div>
