				<div style="position:relative;">
					<%= link_to image_tag(theme.image.url(:span7), :class => "main_image"), theme %>
					<div class="transparent_black">
						<h2 class="cufon" style="color:#fff; margin:0;padding:0;font-size:1.6em;"><%= link_to theme.title, theme %></h2>
						<h4 class="cufon" style="color:#fff;margin:0;padding:0;font-size:0.9em;"><%= h pluralize(theme.questions.size, 'question') %></h4>
					</div>					
				</div>
