<div class="clear:both;">&nbsp;</div>    
   <hr style="margin-bottom:0;">
		<div class="span-23 " id="footer">
			<div class="span-14 quiet small">        
 &copy; United Nations Environment Programme
			</div>
			<div class="prepend-7 span-2 quiet small last" style="text-align:right;">
				<a href="#">Contact</a>
			</div>
		</div>
		
</div>
